## Luyon, James Matthew P.
201815069
## Reyes, Carl Vincent
201813184
## Maningat, Jhon Oliver
201814302

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types

In [12]:
a, b = 5, 5.0
c, d = "Hi", 'Hello'
e = "Happy Birthday!"
f = False

In [14]:
type(a)

int

In [17]:
type(b)

float

In [22]:
type(c)

str

In [24]:
type(d)

str

In [26]:
type(f)

bool

In [98]:
e[6] + e[1] + e[-2]

'Bay'

In [38]:
s,t,u = "0", '1', 'one'
type(s)

str

In [103]:
P = 99.9
[str(P), type(x)]

['99.9', float]

In [108]:
Q = [1,2,"Pogi si James Luyon"]
type(Q)

list

In [109]:
R = (1,2, "Petmalu Lode")
type(R)

tuple

## Operations

### Arithmetic

In [27]:
z,x,y,w = 11.0, -0.78, 0, -64
v = 15

In [28]:
### Addition
A = z+x
A

10.22

In [29]:
### Subtraction
S = x-w
S

63.22

In [30]:
### Multiplication
M = z*w
M

-704.0

In [31]:
### Division
D = y/z
D

0.0

In [32]:
### Floor Division
FD = v//z
FD

1.0

In [33]:
### Exponentiation
Ex = z**v
Ex

4177248169415651.0

In [34]:
### Modulo
MD = w%z
MD

2.0

### Assignment Operations

In [35]:
L, M, N, O = 6, 78, 4, 4

In [36]:
L += z
L

17.0

In [37]:
M -= z
M

67.0

In [38]:
N *= 5
N

20

In [42]:
O **= 5
O

1024

In [40]:
3/2

1.5

In [41]:
3//2

1

### Comparators

In [112]:
## Equality
1==1

True

In [114]:
1==2

False

In [118]:
## Non-equality
1!=2

True

In [122]:
## Oh the great there's no error here lols
Luyon = "Pogi"
Luyon == "Pogi"

True

In [125]:
# Is 2 greater than 3?
2 > 3

False

In [128]:
# Is 2 less than 3?
2 < 3

True

In [130]:
# Is 1 greater than or equal to 2?
1 >= 2

False

In [131]:
# Is 2 less than or equal to 2?
2 <= 2

True

### Logical

In [3]:
Luyon = "Pogi"
Katotohanan = "Pogi"
Pangit = "Pangit"

In [4]:
Luyon == Katotohanan

True

In [5]:
Luyon is Pangit
## HAHAHAHAHA

False

In [6]:
Luyon is not Pangit

True

In [144]:
p, q = True, False
conj = p and q
conj

False

In [145]:
p, q = True, False
disj = p or q
disj

True

In [146]:
p, q = True, False
nand = not(p and q)
nand

True

In [1]:
p, q = True, False
xor = (not p and q) or (p and not q)
xor

True

### I/O

In [12]:
name = input()
print("Hello Mars!")
print("Ano kasunod ng Mars?")
print("Syempre Jupiter HAHAHAHA Hi",name , "!")

Matt
Hello Mars!
Kasunod ng Mars
Syempre Jupiter HAHAHAHA Hi Matt !

In [14]:
cnt = 1

In [16]:
string = "Hello Mars"
print(string, ", Current run count is:", cnt)
cnt += 1

Hello Mars , Current run count is: 2

In [17]:
print(f"{string}, Current count is: {cnt}")

Hello Mars, Current count is: 3

In [166]:
pogi_points = 99.99
sex_epal = 99.99
name = "James Matthew Luyon"
print("Hello {}, your pogi points is: {}".format(name, pogi_points))
print("And your sex appeal is: {}".format(sex_epal), "Wow HAHAHAAHAHA")

Hello James Matthew Luyon, your pogi points is: 99.99
And your sex appeal is: 99.99 Wow HAHAHAAHAHA

In [22]:
trial_1, trial_2, trial_3 = 0.21, 0.5, 1.01
print("Mga chance na maging kayo ng crush mo:\
\n\t{:.2%} if lagi kayong magka-usap\
\n\t{:.2%} kapag umamin ka sa kanya, and\
\n\t{:.2%} kapag type ka din niya.".format(trial_1, trial_2, trial_3))

Mga chance na maging kayo ng crush mo:
	21.00% if lagi kayong magka-usap
	50.00% kapag umamin ka sa kanya, and
	101.00% kapag type ka din niya.

In [21]:
Input = input("enter a character/string: ")
Input

enter a character/string: Wag susuko kaya natin to future inhinheyo

'Wag susuko kaya natin to future inhinheyo'

In [43]:
name = input("Enter your Nickname: ")
pg = float(input("Enter prelim grade: "))
mg = float(input("Enter midterm grade: "))
fg = float(input("Enter finals grade: "))
sem_grade = ((pg*0.3)+(mg*0.3)+(fg*0.4))
print("Hello Koya{}, your semestral grade is: {}".format(name, sem_grade))

Enter your Nickname: Matt
Enter prelim grade: 92
Enter midterm grade: 89
Enter finals grade: 95
Hello KoyaMatt, your semestral grade is: 92.3

# Looping Statements

## While

In [179]:
## while loops
i = int(input("Input integer:"))
while i >0:
    print("$"*i)
    i-=1

Input integer:5
$$$$$
$$$$
$$$
$$
$

In [180]:
i = 0
while i==0:
    x = int(input("Quiz: What is 10 times 4: "))
    if x == 40:
        i+=1
    else:
        print("Wrong! Try Again!")
print("Tumpak! at Dahil dyan meron kang Jacket!!!!")

Quiz: What is 10 times 4: 2
Wrong! Try Again!
Quiz: What is 10 times 4: 5
Wrong! Try Again!
Quiz: What is 10 times 4: 40
Correct!

## For

In [182]:
# for(int i=0; i<10; i++){
# printf(i)
# }

Pre_advice = ["LCD","CNS","AIDA","Intro to HDL","CW","Rizal","PE4"]

for i in Pre_advice:
    print(i)

LCD
CNS
AIDA
Intro to HDL
CW
Rizal
PE4

In [184]:
for i in "Hello World":
    print(i)

H
e
l
l
o

W
o
r
l
d

In [186]:
list(range(1,5))

[1, 2, 3, 4]

In [187]:
num = int(input("Input: "))
for i in range(1,11):
    print(num, "*", i, "=", num*i)

Input: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# Flow Control

## Condition Statements

In [191]:
Grade = float(input("Input Grade: "))

if(Grade >= 90):
    print("A")
elif(Grade >=80):
    print("B")
elif(Grade >=70):
    print("C")
elif(Grade >=60):
    print("D")
else:
    print("F")

Input Grade: 69
D

In [194]:
answer = int(input("Input any number:"))
text=""

if answer > 10:
    text = "greater than"
elif answer < 10:
    text = "less than"

print(answer,"is",text,"10.")

Input any number:5
5 is less than 10.

# Functions

In [220]:
# creating basic functions in python
def inhinyero(future, job):
    print("I am future {}, and my field of expertise is in {}".format(future,job))

inhinyero("Computer Engineer","Artificial Intelligence")

I am future Computer Engineer, and my field of expertise is in Artificial Intelligence

In [224]:
def addition(*var_args):
    answer = 0
    for i in var_args:
        answer +=i
    return answer

addition(5,3)

8

### Lambda Functions

In [211]:
xx = 4

In [226]:
lf1 = lambda xx: xx + 2
lf(6)

8

In [229]:
lf2 = lambda xx,yy: xx + yy
lf2(5,6)

11

In [201]:
'''
Create a grade calculator that computes for the semestral grade of a course.
Students could type their names, the name of the course, then their prelim,
midterm, and final grade.
The program should print the semestral grade in 2 decimal points and should
display the following emojis depending on the situation:
happy - when grade is greater than 70.00
laughing - when grade is exactly 70.00
sad - when grade is below 70.00
'''
happy, lol, sad = "\U0001F600","\U0001F923","\U0001F619"

#Alright lets to this

student_name = input("Enter your Name: ")
course = input("Enter your course: ")
prelim_g = float(input("Enter your Prelim Grade: "))
midterm_g = float(input("Enter your Midterm Grade: "))
finals_g = float(input("Enter your Final Grade: "))
sem_g = ((prelim_g*0.3)+(midterm_g*0.3)+(finals_g*0.4))
print("Hello Klasmeyt {}, your semestral grade is: {}".format(student_name, sem_g))
if(sem_g > 70):
    print("My grade is greater than 70 yey!")
    print("\U0001F600")
elif(sem_g == 70):
    print("My grade is exactly 70 great!")
    print("\U0001F923")
else:
    print("My grade is lower than 70 aw!")
    print("\U0001F619")

Enter your Name: Mat
Enter your course: BS Computer Engineering
Enter your Prelim Grade: 58
Enter your Midterm Grade: 69
Enter your Final Grade: 68
Hello Klasmeyt Mat, your semestral grade is: 65.3
My grade is lower than 70 aw!
ðŸ˜™

# Thank you for joining and reading my jupyter notebook ^_^